@font-face {
	font-family: "Sinkin Sans";
	src: url("/fonts/SinkinSans-100Thin.otf");
	font-style: normal;
	font-weight: 100;
}
@font-face {
	font-family: "Sinkin Sans";
	src: url("/fonts/SinkinSans-100ThinItalic.otf");
	font-style: italic;
	font-weight: 100;
}
@font-face {
	font-family: "Sinkin Sans";
	src: url("/fonts/SinkinSans-200XLight.otf");
	font-style: normal;
	font-weight: 200;
}
@font-face {
	font-family: "Sinkin Sans";
	src: url("/fonts/SinkinSans-200XLightItalic.otf");
	font-style: italic;
	font-weight: 200;
}
@font-face {
	font-family: "Sinkin Sans";
	src: url("/fonts/SinkinSans-300Light.otf");
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: "Sinkin Sans";
	src: url("/fonts/SinkinSans-300LightItalic.otf");
	font-style: italic;
	font-weight: 300;
}
@font-face {
	font-family: "Sinkin Sans";
	src: url("/fonts/SinkinSans-400Regular.otf");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "Sinkin Sans";
	src: url("/fonts/SinkinSans-400Italic.otf");
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: "Sinkin Sans";
	src: url("/fonts/SinkinSans-500Medium.otf");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "Sinkin Sans";
	src: url("/fonts/SinkinSans-500MediumItalic.otf");
	font-style: italic;
	font-weight: 500;
}
@font-face {
	font-family: "Sinkin Sans";
	src: url("/fonts/SinkinSans-600SemiBold.otf");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "Sinkin Sans";
	src: url("/fonts/SinkinSans-600SemiBoldItalic.otf");
	font-style: italic;
	font-weight: 600;
}
@font-face {
	font-family: "Sinkin Sans";
	src: url("/fonts/SinkinSans-700Bold.otf");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "Sinkin Sans";
	src: url("/fonts/SinkinSans-700BoldItalic.otf");
	font-style: italic;
	font-weight: 700;
}
@font-face {
	font-family: "Sinkin Sans";
	src: url("/fonts/SinkinSans-800Black.otf");
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: "Sinkin Sans";
	src: url("/fonts/SinkinSans-800BlackItalic.otf");
	font-style: italic;
	font-weight: 800;
}
@font-face {
	font-family: "Sinkin Sans";
	src: url("/fonts/SinkinSans-900XBlack.otf");
	font-style: normal;
	font-weight: 900;
}
@font-face {
	font-family: "Sinkin Sans";
	src: url("/fonts/SinkinSans-900XBlackItalic.otf");
	font-style: italic;
	font-weight: 900;
}

html, body {
	height: 100%;
	font-family: "Sinkin Sans", sans-serif;
	font-size: smaller;
}

body {
	padding-top: 50px;
	background-color: #1a1a1a;
	color: #F4F4F4;
}

a:not(.hcat ) {
	color: #3b6baf;
}

.breadcrumb a {
	color: #6298e0;
}

a:hover {
	color: #3c6cb1;
}

.img-portfolio {
	margin-bottom: 30px;
}

.img-hover:hover {
	opacity: 0.8;
}

header.carousel {
	height: 60%;
}

header.carousel .item, header.carousel .item.active, header.carousel .carousel-inner {
	height: 100%;
}

header.carousel .fill {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}
.logo_header {
margin-right:10px;
}
.error-404 {
	font-size: 100px;
}

.price {
	display: block;
	font-size: 50px;
	line-height: 50px;
}

.price sup {
	top: -20px;
	left: 2px;
	font-size: 20px;
}

.period {
	display: block;
	font-style: italic;
}

footer {
	text-align: center;
}

footer p {
	width: 50%;
	margin: 10px auto;
	padding: 10px 0 0 0;
	border-top: 1px solid #EEEEEE;
}
footer span {
display:block;
margin:6px 0 0 0;
}
footer span:not(:first-child) {
display:inline-block;
}
.carousel-caption h2 {
	font-size: 32px;
}

#socialfoot a {
	padding: 0px 5px 0px 5px;
}

@media ( max-width :1700px) {
	.carousel-caption h2 {
		font-size: 27px;
	}
}

@media ( max-width :1400px) {
	.carousel-caption h2 {
		font-size: 24px;
	}
}

@media ( max-width :1000px) {
	.carousel-caption h2 {
		font-size: 19px;
	}
}

@media ( max-width :800px) {
	.carousel-caption h2 {
		font-size: 16px;
	}
}

@media ( max-width :991px) {
	.customer-img, .img-related {
		margin-bottom: 30px;
	}
}

@media ( max-width :767px) {
	.img-portfolio {
		margin-bottom: 15px;
	}
	header.carousel .carousel {
		height: 70%;
	}
}
/* Top menu */
.top-logo {
	height: 50px;
	width: 60px;
}

.top-fond {
	width: 210px;
}

.menu-lnk {
	margin: 9px 0 0 0;
}

.menu-lnk li a {
	display: inline;
	padding-left: 0px;
}

#donate a {
	color: #FFB2F0;
}

#donate:hover a {
	color: #ffddf9;
}

@media ( max-width :1300px) {
	.top-fond {
		width: 180px;
	}
}

@media ( max-width :1200px) {
	.top-logo {
		height: 50px;
		width: 43px;
	}
	.top-fond {
		display: none;
	}
	.menu-lnk {
		margin: 8.5px 0 0 0;
	}
}

@media ( max-width :1000px) {
	.top-logo {
		height: 30px;
		width: 40px;
		margin: 5px 0 0 0;
	}
	.menu-lnk li, .menu-lnk li a {
		font-size: 12px;
	}
}
/* End top menu */

.community-head {
	padding: 4px 15px 4px 15px;
	margin-bottom: 20px;
	width: 750px;
	height: 30px;
background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid #494949;
	border-radius: 2px;
}

.community-body {
	padding: 25px 15px 25px 15px;
	margin-bottom: 20px;
	width: 750px;
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid #494949;
	border-radius:2px;
}

.community-body-right {
	float: right;
	margin: 0 0 0 30px;
	padding: 0;
	font-size: 20px;
	background-repeat: no-repeat;
}

.community-body-right i {
	color: #C9C9C9;
}

.community-body-right i:hover {
	color: #555555;
}

.code-block {
	padding: 10px;
	margin: 10px 0 4px 0;
	border:1px solid #494949;
background-color: rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	line-height: 1.42857143;
	word-break: break-all;
	word-wrap: break-word;
	font-family: monospace, monospace;
	font-size: 13px;
}

.code-block p:first-child {
	margin: 0;
}

.code-block p {
	font-family: inherit;
	font-size: inherit;
	color: #aaa;
	margin: 15px 0 0 0;
}

.code-block span {
	font-family: inherit;
	font-size: inherit;
	color: #6298e0;
	margin: 0;
}

codevar {
	font-family: inherit;
	font-size: inherit;
	color: green;
}

.panel:first-child {
	margin: 0 0 20px 0;
}

.panel {
margin: 20px 0 20px 0;
}
#idx-tool {
	margin: 0 0 10px 0;
}

/* tbl tools list and donate */
#tbl-minimalist {
	margin: 15px;
	font-size: 14px;
	border-collapse: collapse;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.0);
}
/* tbl donate minimum width */
.tbl-donate {
min-width: 500px;
width: 500px;
}
#tbl-minimalist td {
	border-bottom: 1px solid #494949;
	font-size: smaller;
}

#tbl-minimalist tbody tr:hover>.tbl-name, #tbl-minimalist tbody tr:hover>.tbl-homepage
	{
	color: white;
}

#tbl-minimalist tbody tr:hover>.vcat {
	color: #c8eea7;
}

#tbl-minimalist tbody tr:hover .dcat {
	color: #74BDF2;
}

#tbl-minimalist tbody tr:hover>.tbl-categorie>a.hcat {
	color: #FCBB41;
}

#tbl-minimalist tbody tr:hover {
transition: background-color 0.7s ease;
background-color: rgba(15, 8, 8, 0.4);
}

.tbl-name, .tbl-version, .tbl-dversion {
	max-width: 140px;
}

.tbl-version, .tbl-dversion {
	padding: 0 10px 0 0;
	box-sizing: border-box;
}

.tbl-description:not(:first-child), .tbl-ddescription:not(:first-child) {
	padding: 0 30px 0 0;
	box-sizing: border-box;
}

.tbl-homepage:not(:first-child) {
	text-align: center;
	margin: 3px 0 3px 0;
	max-width: 60px;
}
.tbl-dhomepage:not(:first-child) i {
	text-align: right;
	margin: 3px 0 3px 0;
	max-width: 60px;
}

a.hcat {
	color: #F9B22A;
}

.vcat {
	color: #9ED035;
}

.dcat {
	color: #4BA6E7;
}

@media ( max-width : 1000px) {
	.tbl-categorie {
		display: none;
	}
}

@media ( max-width :750px) {
	.tbl-version {
		display: none;
	}
}

@media ( max-width :625px) {
	.tbl-description {
		display: none;
	}
}

@media ( max-width :450px) {
	.tbl-homepage {
		font-size: 10px;
	}
	.tbl-name {
		font-size: 10px;
	}
}
/* Index array (team) */
#developers {
	table-layout: fixed;
	width: 600;
}

#developers tr td:nth-of-type(1) {
	width: 180px;
	padding: 0 0 5px 0;
	text-align: left;
}
#developers tr td:nth-of-type(3) {
width: 250px;
text-align: left;
}
#developers tr td:nth-of-type(2), #developers tr td:nth-of-type(4), #developers tr td:nth-of-type(5) {
width: 200px;
text-align: left;
}
@media (max-width:650px) {
	#developers tr td:nth-child(3), #developers tr td:nth-child(4) {
	display:none;
	}
}
.download {
	table-layout: fixed;
	overflow: hidden;
}

.download tr td:nth-of-type(1) {
	width: 260px;
	padding: 0 0 5px 0;
	text-align: left;
}

.download tr td:nth-of-type(2) {
	width: 100px;
	text-align: left;
}

.download tr td:nth-of-type(3) {
	width: 80px;
	text-align: left;
}

.download tr td:nth-of-type(4) {
	width: 80px;
	font-size: 13px;
	text-align: left;
}
@media (max-width:650px) {
	.download tr td:nth-child(5) {
	display:none;
	}
}

.guide {
	width: 100px;
	margin: 0 0 8px 0;
}

#baLogo {
	width: 60px;
	height: 70px;
}

#paypal input:nth-of-type(3) {
	border: 0;
}

#paypal img {
	border: 0;
	height: 1px;
	width: 1px;
}

.list-group i {
	display: block;
	padding: 0;
	margin: 0;
}

.nblog article {
	margin: 0 0 40px 0;
}

.nblog header {
	padding: 5px 0 8px 0;
	border-bottom: 1px solid #EEEEEE;
}

.nblog div {
	margin: 15px 0 0 0;
}

.nblog article time {
	font-size: 18px;
	float: right;
}

.nblog article ul {
	list-style-type: square;
	margin: 0 0 0 14px;
	padding: 0;
}

.twitter-timeline {
	height: 418px !important; /* This fix sucks, will be improved asap */
}
/* Loader */
#loadGen {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 20px;
	background-color: black;
	color: white;
	max-width: 220px;
	padding: 6px;
	border-radius: 2px;
}

#loadGen p {
	position: inline-block;
	margin: 0 0 0 3px;
}

#loadGen i {
	position: inline-block;
	margin: 0 9px 0 0;
}

@media ( max-width : 810px) {
	#loadGen {
		width: 40px;
		height: 26px;
		text-align: center;
	}
	#loadGen p {
		visibility: hidden;
	}
	#loadGen i {
		font-size: 23px;
		visibility: visible;
		margin: 0;
	}
}
/* End Loader */
/* General body */
.page-header-title h1 {
	color: #3c6cb1;
	display: inline;
}

.page-header-title h2 {
	float: right;
  color: #ffffff;
  font-size: 22px;
	margin: 5px 0 0 0;
}

.row-header-title {
	padding: 10px 0 10px 0;
	margin: 0;
}
/* Guide */
.tab-guide {
	margin: 0 0 10px 0;
}
/* End Guide */
/* Tutoriel */
.bl-install img {
	margin: 0 0 10px 0;
	max-width: 100%;
	height: auto;
}

.bl-install p {
	margin: 0 0 10px 0;
}

.info {
	max-width: 500px;
	width: 98%;
	margin: 5px 0 10px 0;
	padding: 5px 7px 5px 7px;
	background-color:#111111 ;
	border: 1px solid #5B5B5B;
	border-radius: 2px;
	box-sizing: border-box;
	color: white;
}

.info p {
	max-width: 95%;
	margin: 0 0 5px 0;
}

.info i {
	float: right;
	font-size: 22px;
}

.bl-install hr {
	margin: 5px 0 15px 0;
}

.blgreen {
	font-style: normal;
	font-size: 14px;
	color: #6ae400;
	background-color: #111111;
	padding: 0px 3px 0px 3px;
	border-radius: 1px;
}

.blyellow {
	font-style: normal;
	font-size: 14px;
	color: #e1e111;
	background-color:#111111;
	padding: 0px 3px 0px 3px;
	border-radius: 1px;
}

.bl-install .sb {
	font-size: 14px;
	color: #ff2c2c;
	background-color: #111111;
	padding: 0px 3px 0px 3px;
	border-radius: 1px;
}
/* End Tutoriel */
/* Donate */
#givenow {
	width: 99%;
	text-align: center;
}

#givenow p {
	max-width: 300px;
	display: none;
	margin: 7px auto 0 auto;
	padding: 5px 2px 5px 2px;
	background-color: black;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	color: white;
}

#givenow p.ns {
	max-width: 300px;
	display: block;
	margin: 7px auto 0 auto;
	padding: 5px 2px 5px 2px;
	background-color: black;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	color: white;
}

#givenow .paypal {
	background-color: #ffcb00;
}

#givenow .bitcoin {
	background-color: #1e90ff;
	cursor: pointer;
}

#givenow .cash {
	background-color: #00c628;
	cursor: pointer;
}

#givenow .cc {
	background-color: #da231c;
	cursor: pointer;
}
/* FAQ */
.faqco {
margin:2px 0 2px 0;
padding:2px 4px 2px 4px;
color:#06D206;
background-color:#111111;
border-radius:3px;
}
