html,
body {
    height: 100%;
}
body {
    padding-top: 50px;
    background-color: #1d1d1d;
    color: #bbb;
}
a {
    color: #f40000;
}
a:hover {
    color: #c40000;
}
.img-portfolio {
    margin-bottom: 30px;
}
.img-hover:hover {
    opacity: 0.8;
}
header.carousel {
    height: 60%;
}
header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}
header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.error-404 {
    font-size: 100px;
}
.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}
.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}
.period {
    display: block;
    font-style: italic;
}
footer {
text-align:center;
}
footer p {
width:50%;
margin:30px auto;
padding:10px 0 0 0;
border-top:1px solid #EEEEEE;
}
.carousel-caption h2 {
font-size:32px;
}
@media(max-width:1700px) {
	.carousel-caption h2 {
	font-size:27px;
	}
}
@media(max-width:1400px) {
	.carousel-caption h2 {
	font-size:24px;
	}
}
@media(max-width:1000px) {
	.carousel-caption h2 {
	font-size:19px;
	}
}
@media(max-width:800px) {
	.carousel-caption h2 {
	font-size:16px;
	}
}
@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}
/* Top menu */
.top-logo {
height:60px;
width:70px;
}
.top-fond {
width:300px;
}
.menu-lnk {
margin:9px 0 0 0;
}
.menu-lnk li a {
display:inline;
}
@media(max-width:1300px) {
	.top-fond {
	width:280px;
	}
}
@media(max-width:1200px) {
	.top-logo {
	height:50px;
	width:60px;
	}
	.top-fond {
	display:none;
	}
	.menu-lnk {
	margin:8.5px 0 0 0;
	}
}

@media(max-width:1000px) {
	.top-logo {
	height:40px;
	width:50px;
	margin:5px 0 0 0;
	}
	.menu-lnk li, .menu-lnk li a {
	font-size:12px;
	}
}
/* End top menu */
.community-head {
    padding: 4px 15px 4px 15px;
    margin-bottom: 20px;
    width: 750px;
    height: 30px;
    background-color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.community-body {
    padding: 25px 15px 25px 15px;
    margin-bottom: 20px;
    width: 750px;
    background-color: #2f2f2f;
    border: 1px solid #ccc;
}

.community-body-right {
float:right;
margin:0 0 0 30px;
padding:0;
font-size:20px;
background-repeat: no-repeat;
}
.community-body-right i {
color:#C9C9C9;
}
.community-body-right i:hover {
color:#555555;
}
.code-block {
padding: 10px;
margin:10px 0 4px 0;
background: #000;
border: 1px solid #999;
border-radius: 4px;
line-height: 1.42857143;
word-break: break-all;
word-wrap: break-word;
font-family: monospace, monospace;
font-size: 13px;
}

.code-block p:first-child {
margin:0;
}
.code-block p {
font-family: inherit;
font-size: inherit;
color: #aaa;
margin:15px 0 0 0;
}

.code-block span {
font-family:inherit;
font-size:inherit;
color:#f40000;
margin:0;
}

codevar {
    font-family: inherit;
    font-size: inherit;
    color: green;
}
.panel:first-child {
margin:0 0 20px 0;
}
.panel {
margin:20px 0 20px 0;
}
#tbl-minimalist {
    margin: 15px;
    font-size: 11px;
    border-collapse: collapse;
    text-align: left;
    background-color: #333;
}

#tbl-minimalist td {
    border-bottom: 1px solid #ccc;
    padding: 2px 2px;
}

#tbl-minimalist tbody tr:hover td {
    color: #C40000;
}
@media (max-width: 1000px) {
	.tbl-categorie {
	display:none;
	}
}
@media (max-width:750px) {
	.tbl-version {
	display:none;
	}
}
@media (max-width:625px) {
	.tbl-description {
	display:none;
	}
}
@media (max-width:450px) {
	.tbl-homepage {
	font-size:10px;
	}
	.tbl-name {
	font-size:10px;
	}
}
#developers {
table-layout:fixed;
width:600;
}
#developers tr td:nth-of-type(1) {
width:180px;
padding:0 0 5px 0;
text-align:left;
}
#developers tr td:nth-of-type(2), #developers tr td:nth-of-type(4), #developers tr td:nth-of-type(5) {
width:150px;
text-align:left;
}
#developers tr td:nth-of-type(3) {
width:260px;
text-align:left;
}
#download {
table-layout:fixed;
overflow:hidden;
}
#download tr td:nth-of-type(1) {
width:260px;
padding:0 0 5px 0;
text-align:left;
}
#download tr td:nth-of-type(2) {
width:100px;
text-align:left;
}
#download tr td:nth-of-type(3) {
width:80px;
text-align:left;
}
#download tr td:nth-of-type(4) {
width:80px;
font-size:13px;
text-align:left;
}
.guide {
width:100px;
margin:0 0 8px 0;
}
#baLogo {
width:60px;
height:70px;
}
#paypal input:nth-of-type(3) {
border:0;
}
#paypal img {
border:0;
height:1px;
width:1px;
}
.list-group i {
display:block;
padding:0;
margin:0;
}
.nblog article{
margin:0 0 40px 0;
}
.nblog header {
padding:5px 0 8px 0;
border-bottom:1px solid #EEEEEE;
}
.nblog div {
margin:15px 0 0 0;
}
.nblog article time {
font-size:18px;
float:right;
}
.nblog article ul {
list-style-type:square;
margin:0 0 0 14px;
padding:0;
}
.twitter-timeline {
height:420px;
}
/* Loader */
#loadGen {
position:absolute;
bottom:0;
right:0;
font-size:20px;
background-color:black;
color:white;
max-width:220px;
padding:6px;
border-radius:2px;
}
#loadGen p {
position:inline-block;
margin:0 0 0 3px;
}
#loadGen i {
position:inline-block;
margin:0 9px 0 0;
}
@media (max-width: 810px) {

	#loadGen {
	width: 40px;
	height:26px;
	text-align:center;
	}

	#loadGen p {
	visibility: hidden;
	}

	#loadGen i {
	font-size: 23px;
	visibility: visible;
	margin:0;
	}
}
/* End Loader */
/* General body */
.page-header-title h1 {
color:#C40000;
display:inline;
}
.page-header-title h2  {
float:right;
font-size:22px;
margin:5px 0 0 0;
}
.row-header-title {
padding:10px 0 10px 0;
margin:0;
}
/* Guide */
.tab-guide {
margin:0 0 10px 0;
}
